mlflow==2.18.0
cffi==1.17.1
cloudpickle==3.1.1
lightgbm==4.6.0
matplotlib==3.10.6
numpy==2.0.1
packaging==24.2
pandas==2.3.2
psutil==7.0.0
pyarrow==18.1.0
pyyaml==6.0.2
scikit-learn==1.7.1
scipy==1.16.1